#infoCards {
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid white;
    position: absolute;
    margin: auto;
    min-height: 300px;
    min-width: 700px;
    width: auto;
    
    height: auto;
    display: flex;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    display: none; 
}

#mainCards{
    margin-bottom: 10px;
}
#infoCards p {
    font-size: 25px;
}

#infoCardsTittle {
    display: flex;
    justify-content: center;
}

#infoCardsTittle h3 {
    font-size: 40px;
}

#deleteCard{
    width: auto;
    height: 40px;
    cursor: pointer;
    background-color: #a50000;
    border: none;
    margin-top: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

#deleteCard:hover{
    background-color: #fd0606;
}